brainflow~=4.4.0
numpy~=1.19.5
PyQt5~=5.15.4
pyserial~=3.5
pylsl~=1.14.0
tensorflow~=2.5.0
sklearn~=0.0
scipy~=1.7.0
mne~=0.23.0
pyqtgraph~=0.12.2
Pillow
matplotlib~=3.4.2
pyxdf~=1.16.3
opencv-python~=4.5.3.56
pyautogui~=0.9.53
qimage2ndarray~=1.8.3
DateTime~=4.3
scikit-learn~=0.24.2